html {
  direction: rtl !important;
}

body {
  font-family: Vazir-Regular-FD, sans-serif;
  color: #272829;
}
a {
  text-decoration: none;
  color: #000;
}
ul li {
  list-style-type: none;
  text-align: right !important;
}

/* ================ carousel =========== */
#header.header-main {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-top: 15px;
}
nav .navbar-nav .nav-item {
  position: relative;
  padding: 15px 0;
}
nav .navbar-nav .nav-item a {
  font-weight: 500;
  font-size: 15px;
  color: #4a6f8a;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 14px;
  margin-right: 14px;
}
.header-main nav .navbar-nav .nav-item a svg {
  width: 14px;
}
nav .navbar-nav .nav-item a:hover,
nav .navbar-nav .nav-item a:focus,
nav .navbar-nav .nav-item a.active,
.dropdown-item.active,
.nav-link.active {
  color: #44ce6f;
  /* background-color: #fff !important; */
}
/* .nav-link.active,
.dropdown-item.active,
.dropdown-item:hover {
  color: #44ce6f !important;
  text-decoration: none;
  background-color: #fff !important;
} */

.navbar-nav .nav-item ul {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  position: relative;
  top: 80px;
  right: 0;
  width: 250px;
  z-index: 99;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  /* opacity: 0; */
  border-radius: 5px;
  /* visibility: hidden; */
  transition: all 0.8s ease-in-out;
}
nav .navbar-nav .nav-item:hover .dropdown-menu {
  /* opacity: 1; */
  /* visibility: visible; */
  display: block;
  background-color: #fff !important;
  top: 100%;
}
nav .navbar-nav .nav-item .dropdown-menu {
  left: auto;
  right: 0;
}
nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  /* display: none !important; */
}
.navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  display: none;
  right: 150px;
  top: 80px !important;
}

nav .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  display: block;
  background-color: #fff !important;
  top: -20px !important;
}
